body {
    background-color: #ffb366;
}

.social_link {
    text-decoration: none;
}

.social_icon {
    width: 3vw;
    min-width: 40px;
    height: width;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 1vw;
    opacity:1;
	transition-duration: 0.3s;
}

.social_icon:hover {
    opacity:0.3;
    transition-duration: 0.3s;
}
